<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chat UI</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/chat.css"/>
    <link rel="stylesheet" href="/styles/NavBar.css"/>
    <link rel="stylesheet" href="/styles/search.css"/>
    <link rel="stylesheet" href="/styles/dropdown.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/general.css">

</head>


<body>
<div id="sender-id" class="invisible" th:text="${currentUser.getId()}"></div>
<div id="avatar" class="invisible" th:text="${currentUser.getAvatar()}"></div>

<!-- Navbar Section -->
<div class="header">
    <div class="item" onclick="window.location.href='/'">DEVERS</div>
    <div class="item" onclick="window.location.href='/'">RELEVANT</div>

    <div class="item" onclick="window.location.href='/'">LATEST</div>
    <div class="item" onclick="window.location.href='/'">TOP</div>
    <div class="search">
        <img src="/imgs/kính%20lúp.png">
        <input class="item1" id="search-input" placeholder="Search for something">
        <div id="search-results"></div>
    </div>

    <div class="createacc">
        <a class="item2" href="/ask-question">ASK</a>
    </div>

    <div class="user-dropdown">
        <img id="user-avatar" class="avatar" th:src="${currentUser.getAvatar()}" alt="User Avatar">
        <div id="dropdown-menu" class="dropdown hidden">
            <a th:href="@{/profile/{id}(id=${currentUser.getId()})}">Profile</a>
            <a href="/chat">Chat</a>
            <a href="/posts">Posts</a>
            <a id="logout-button-dropdown" href="/logout">Logout</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="sidebar">
        <input type="text" placeholder="Search for chat"/>
        <ul class="chat-list" th:each="user: ${otherUsers}">
            <li class="active">
                <form th:action="@{/chat/{id}(id=${user.getId()})}" method="GET">
                    <button type="submit" style="all: unset; cursor: pointer; width: 100%">
                        <img th:src="${user.getAvatar()}" alt="Avatar"/>
                        <div>
                            <div class="name" th:text="${user.getDisplayName()}"></div>
                            <div class="message-preview">Oh no</div>
                        </div>
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div th:if="${receiver != null}" class="chat-container">

        <div id="receiver-id" class="invisible" th:text="${receiver.getId()}"></div>

        <div class="chat-area">
            <div class="chat-header">
                <img th:src="${receiver.getAvatar()}" alt="Avatar"/>
                <div class="name" th:text="${receiver.getDisplayName()}"></div>
            </div>

            <ul id="messages">
                <li th:each="message: ${messages}">

                    <div th:if="${message.getSender().id != currentUser.id}" class="chat-message">
                        <img th:src="${receiver.getAvatar()}" class="avatar" alt="Your Avatar"/>

                        <div th:if="${message.getContent() != ''}">
                            <div
                                    class="text"
                                    th:text="${T(java.lang.String).valueOf(message.content)}"
                            ></div>
                        </div>
                        <div th:if="${message.getImgUrl() != null}">
                            <img
                                    th:src="@{${message.getImgUrl()}}"
                                    class="image"
                                    alt="Image Message"
                            />
                        </div>
                    </div>


                    <div th:if="${message.getSender().id == currentUser.id}" class="chat-message self">
                        <img th:src="${currentUser.getAvatar()}" class="avatar" alt="Your Avatar"/>
                        <div th:if="${message.getContent() != ''}">
                            <div
                                    class="text"
                                    th:text="${T(java.lang.String).valueOf(message.content)}"
                            ></div>
                        </div>
                        <div th:if="${message.getImgUrl() != null}">
                            <img
                                    th:src="@{${message.getImgUrl()}}"
                                    class="image"
                                    alt="Image Message"
                            />
                        </div>

                    </div>
                </li>
            </ul>
            <!-- Tin nhắn của bản thân -->

            <div class="message-input" id="chat-form" enctype="multipart/form-data">
                <input
                        type="text"
                        id="message-send"
                        name="message"
                        placeholder="Type a message..."
                />
                <input type="file" id="image" name="image" accept="image/*"/>
                <button type="button" id="send-button" onclick="sendMessage()">Send😊</button>
            </div>


        </div>
    </div>
</div>

<script>
    let chatWs;
    let senderChatId = document.getElementById('sender-id').textContent;
    let receiverId = document.getElementById('receiver-id').textContent;
    let messages = document.getElementById('messages');

    function connect() {
        messages.scrollTop = messages.scrollHeight + 20;
        chatWs = new WebSocket('ws://' + window.location.host + '/ws/chat?user=' + senderChatId);
        chatWs.onmessage = function (event) {
            let messageElement = document.createElement("div");
            messageElement.classList.add("chat-message");
            let data = JSON.parse(event.data);
            messageElement.innerHTML = `
        <img src="${data.avatar}" class="avatar" alt="Your Avatar"/>
        <div>
          <div class="text">${data.content}</div>
        </div>
      `;
            messages.appendChild(messageElement);
        };
    }

    function sendMessage() {
        const senderAvatar = document.getElementById('avatar').textContent;
        messages.scrollTop = messages.scrollHeight + 20;

        let input = document.getElementById('message-send');
        let content = input.value;
        let fileInput = document.getElementById('image');
        let file = fileInput.files[0];

        let message = {
            avatar: senderAvatar,
            sender: senderChatId,
            receiver: receiverId,
            content: content
        };

        if (file) {
            let reader = new FileReader();
            reader.onload = function (event) {
                message.image = event.target.result;
                chatWs.send(JSON.stringify(message));
            };
            reader.readAsDataURL(file);
        } else {
            chatWs.send(JSON.stringify(message));
        }

        let messageElement = document.createElement("div");
        messageElement.classList.add("chat-message", "self");
        messageElement.innerHTML = `
      <img src=${senderAvatar} class="avatar" alt="Your Avatar"/>
      <div>
        <div class="text">${content}</div>
      </div>
    `;
        messages.appendChild(messageElement);
        input.value = '';
        fileInput.value = '';
    }

    connect();
</script>
<script src="/js/search.js"></script>
<script src="/js/dropdown.js"></script>
</body>
</html>
