<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/styles/dropdown.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/general.css">
    <title>Document</title>
</head>
<body>
<div id="sender-id" th:text="${user.getId()}" style="display: none"></div>
<div class="header">
    <div class="item" onclick="window.location.href='/'">DEVERS</div>
    <div class="item" onclick="window.location.href='/'">RELEVANT</div>
    <div class="item" onclick="window.location.href='/'">LATEST</div>
    <div class="item" onclick="window.location.href='/'">TOP</div>
    <div class="search">
        <img src="/imgs/kính%20lúp.png">
        <input class="item1" id="search-input" placeholder="Search for something">
        <div id="search-results"></div>
    </div>

    <div class="createacc">
        <a class="item2" href="/chat">Chat</a>
    </div>

    <div class="user-dropdown">
        <img id="user-avatar" class="avatar" th:src="${user.getAvatar()}" alt="User Avatar">
        <div id="dropdown-menu" class="dropdown hidden">
            <a th:href="@{/profile/{id}(id=${user.getId()})}">Profile</a>
            <a href="/chat">Chat</a>
            <a href="/posts">Posts</a>
            <a id="logout-button-dropdown" href="/logout">Logout</a>
        </div>
    </div>
</div>

<div class="board">
    <div class="sidebar">
        <ul>
            <li>
                <a href="/">Home</a>
                <img src="/imgs/home.png">
            </li>
            <li>
                <a th:href="@{/profile/{id}(id=${user.getId()})}">Profile</a>
                <img src="/imgs/account.png">
            </li>
            <li>
                <a href="/chat">Chats</a>
                <img src="/imgs/chats.png">
            </li>
            <li><img src="/imgs/noti.png">
                Notifications
            </li>
        </ul>
    </div>

    <div class="menu-post">
        <div th:each="post: ${posts}">
            <a class="post1" th:href="@{/questions/{id}(id=${post.id})}">

                <div class="post1-status">
                    <img th:src="${post.getUserPost().getAvatar()}">

                    <div class="user">
                        <div class="username" th:text="${post.getUserPost().getDisplayName()}"></div>
                        <div class="timestamp"
                             th:text="${#dates.format(post.getCreatedAt(), 'dd-MM-yyyy HH:mm:ss')}"></div>
                        <h3 th:text="${post.getTitle()}"></h3>
                        <p th:text="${post.getBody()}"></p>
                        <div class="hashtags">
                            <div class="hashtag" th:each="tag: ${post.getPostsTag()}" th:text="${tag.getName()}">
                            </div>
                        </div>
                    </div>


                </div>

                <div class="post1-react">
                    <div class="reaction">
                        <div class="vote">
                            <img id="upvote-icon" src="/imgs/upvote.svg" th:text="${post.getUpvote()}">
                            <img id="downvote-icon" src="/imgs/downvote.svg" th:text="${post.getDownVote()}">
                        </div>
                        <div class="comment">
                            <img id="comment-icon" src="/imgs/comment.svg" th:text="${post.getComments().size()}">
                        </div>
                        <div class="tick">
                            <img src="/imgs/Star.png">
                            <img src="/imgs/bookmarks.png">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="menu-discuss">
        <div class="title"> Active discussion</div>
        <hr>
        <div class="content"> What's the worst codebase you've ever worked in?</div>
        <div class="cmt"> 100 comments</div>
        <hr>
        <div class="content"> Meme Monkey</div>
        <div class="cmt"> 100 comments</div>
    </div>
</div>


</div>
</div>
<script src="/js/search.js"></script>
<script src="/js/dropdown.js"></script>
</body>
</html>