<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div id="sender-id" th:text="${user.getId()}" style="display: none"></div>
<div class="header">
    <div class="item"> DEVERS</div>
    <div class="item"> Relevant</div>
    <div class="item"> Latest</div>
    <div class="item"> Top</div>
    <div class="search">
        <img src="/imgs/kính%20lúp.png">
        <input class="item1" id="search-input" placeholder="Search for something">
        <div id="search-results"></div>
    </div>


    <div class="createacc">
        <a class="item2" href="http://localhost:8080/chat"> Chat</a>
    </div>
    <div class="createacc">
        <a class="item2" href="http://localhost:8080/logout"> Logout</a>
    </div>
</div>

<div class="board">
    <div class="sidebar">
        <ul>
            <li>
                <a href="http://localhost:8080/">Home</a>
                <img src="/imgs/home.png">
            </li>
            <li>
                <a href="http://localhost:8080/profile">Accounts</a>
                <img src="/imgs/account.png">
            </li>
            <li>
                <a href="http://localhost:8080/">Charts</a>
                <img src="/imgs/chart.png">
            </li>
            <li>
                <a href="http://localhost:8080/chat">Chats</a>
                <img src="/imgs/chats.png">
            </li>
            <li><img src="/imgs/noti.png">
                Notifications
            </li>
            <!--            <li><img src="/imgs/tags.png"> Tags</li>-->
            <!--            <li><img src="/imgs/gmail_groups.png"> About</li>-->
            <!--            <li><img src="/imgs/setting.png"> Setting</li>-->
        </ul>
    </div>

    <div class="menu-post">
        <div th:each="post: ${posts}">
            <a class="post1" th:href="@{/questions/{id}(id=${post.id})}">

                <div class="post1-status">
                    <img src="/imgs/avatar1.png">

                    <div class="user">
                        <div class="username" th:text="${post.getUserPost().getDisplayName()}"></div>
                        <div class="timestamp"
                             th:text="${#dates.format(post.getCreatedAt(), 'dd-mm-yyyy HH:mm:ss')}"></div>
                        <h3 th:text="${post.getTitle()}"></h3>
                        <p th:text="${post.getBody()}"></p>
                        <div class="hashtags">
                            <div class="hashtag">#motconvit</div>
                            <div class="hashtag">#aicutehontoi</div>
                            <div class="hashtag">#hehehe</div>
                        </div>
                    </div>


                </div>

                <div class="post1-react">
                    <div class="reaction">
                        <div class="vote">
                            <img id="upvote-icon" src="/imgs/upvote.svg" th:text="${post.getUpvote()}">
                            <img id="downvote-icon" src="/imgs/downvote.svg" th:text="${post.getDownVote()}">
                        </div>
                        <div class="comment">
                            <img id="comment-icon" src="/imgs/comment.svg"> 100K comments
                        </div>
                        <div class="tick">
                            <img src="/imgs/Star.png">
                            <img src="/imgs/bookmarks.png">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="menu-discuss">
        <div class="title"> Active discussion</div>
        <hr>
        <div class="content"> What's the worst codebase you've ever worked in?</div>
        <div class="cmt"> 100 comments</div>
        <hr>
        <div class="content"> Meme Monkey</div>
        <div class="cmt"> 100 comments</div>
    </div>
</div>


</div>
</div>
<script src="/js/search.js"></script>
</body>
</html>